.container{
    background-color: aquamarine;
    width: auto;
    height: 600px;
}
.box{
    background-color: aqua;
   width: 100px;
   height: 100px;
    margin: 10px;
}
.box1{
   float: left;
}

.box2{
    float: right;
    height: 200px;
}

.box3{
    /* clear: both; */
    width: auto;
    /* background-color: brown; */
}
