.container{
    background-color: aquamarine;
}
.box{
    background-color: aqua;
    margin: 50px;
    width: 100px;
    height: 100px;
}
.box1{
    position: relative;
    top: 0;
}

.box2{
    position: absolute;
    bottom: 0;
}
